.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .image-container {
    width: 300px; 
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
  }
  
  .image-container img {
    border-radius: 20px;
    max-width:100%;
    height: auto;
    transition: 0.5s;
  }
  .image-container img:hover{
    scale: 1.2;
    
  }
  
  .image-container p {
    margin-top: 10px;
    font-size: 14px;
  }
  
  h1{
    text-align: center;
    margin: 30px 0 20px 0;
  }

  .image-view img{
    border-radius: 20px;
    width:400px;
    height: auto;
    transition: 0.5s;
  }
  .image-view img:hover{
    scale: 1.3;
  }

  .full-page{
    border-radius: 20px;
    width: 100%;
    height: 500px;
    background-color: rgb(129, 159, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .image-view{
    
    width: 50%; 
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
  }

  .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .next-btn{
    padding: 1.5rem 3rem;
    text-align: center;
    margin:2rem auto;
    color: white;
    background-color: rgb(40, 50, 119);
    border: none;
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
    transition: 1s;
  }

  .next-btn:hover{
    background-color: rgb(0, 0, 139);
  }

  .title{
    width: 50%;
  }

  .title h3{
    font-size: 30px;
  }

  .title h2{
    font-size: 45px;
  }

  .loader {
    background: transparent;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: 
		spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}